<div class="flex justify-center items-center min-h-screen" style="background-color: #f4f4f4;">
  <p-card header="Sélectionner" styleClass="w-full md:w-1/2 lg:w-1/3 shadow-lg">
    <ng-template pTemplate="content">
      <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="flex flex-col gap-3">
        <p-treeselect
          class="md:w-80 w-full"
          containerStyleClass="w-full"
          [options]="data"
          placeholder="Select an option"
        >
        </p-treeselect>
      </form>
    </ng-template>
  </p-card>
</div>